@font-face {
  font-family: 'goudy-mediaeval';
  src: url('../public/Goudy Mediaeval DemiBold.ttf');
}

@font-face {
  font-family: 'rubik';
  src: url('../public/Rubik.ttf');
}

html {
  background-image: url('../public/wood-background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

#root {
  --background-color: rgb(202, 184, 150);
  --fs-1: 3rem;
  --fs-2: 2rem;
  --fs-3: 1.5rem;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.font {
  text-shadow: 1.5px 1.5px 3px rgb(255, 255, 255);
}

.main-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.header {
  font-family: 'rubik';
  position: sticky;
  top: 0;
  width: 100vw;
  box-sizing: border-box;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  -webkit-box-shadow: 0px 5px 15px 3px #000000;
  box-shadow: 0px 5px 15px 3px #000000;
  z-index: 1;
}

.header-info-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  white-space: nowrap;
}

.header-title {
  font-size: var(--fs-1);
  font-family: 'goudy-mediaeval';
  letter-spacing: 0.25rem;
}

.header-title-container {
  justify-self: start;
}

.header-title-container,
.header-input-container {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.header-label {
  font-size: var(--fs-2);
}

input {
  background-color: var(--background-color);
  font-size: var(--fs-2);
  border: 2px solid rgb(49, 49, 49);
  border-radius: 8px;
  max-width: 100px;
  text-align: center;
  font-family: 'rubik';
  text-shadow: 1.5px 1.5px 3px rgb(255, 255, 255);
}

.gameboard-container {
  box-sizing: border-box;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.loading {
  box-sizing: border-box;
  padding: 2rem;
  box-shadow: 5px 5px 15px 3px #000000;
  background-color: var(--background-color);
  border-radius: 1rem;
  font-size: 3rem;
  font-family: 'goudy-mediaeval';
  letter-spacing: 0.25rem;
}

.gameboard {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  max-width: 1250px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: 'rubik';
  background-color: var(--background-color);
  box-shadow: 0px -5px 15px 3px #000000;
  font-size: var(--fs-3);
  padding: 0.5rem 0;
  width: 100%;
  position: sticky;
  bottom: 0;
}

.card-stack {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  perspective: 100cm;
}

.img-card {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  border-radius: 16px;
  transition: transform 0.1s ease;
  max-width: 400px;
  justify-self: center;
  z-index: 2;
}

.img-card:hover {
  transform: scale(1.1);
}

.card-back {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  max-width: 400px;
  background-image: url('./src/public/mtg-card-back.jpg');
  background-position: center;
  background-size: cover;
  animation: 0.6s flip-back 1 ease-in-out;
  border-radius: 16px;
  z-index: 1;
}

.card-animation {
  animation: 0.6s flip-front 1 ease-in-out;
}

@keyframes flip-front {
  0% {
    transform: rotate3d(0, 1, 0, 180deg);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  51% {
    opacity: 1;
  }

  100% {
    transform: rotate3d(0, 1, 0, 360deg);
    opacity: 1;
  }
}

@keyframes flip-back {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  51% {
    opacity: 0;
  }

  100% {
    transform: rotate3d(0, 1, 0, 180deg);
    opacity: 0;
  }
}

@media (orientation: portrait) {
  .header-info-container {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
  }
}

@media (max-width: 700px) {
  .header {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }
}
